@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


*{margin: 0;padding: 0;font-family: 'Noto Sans KR', sans-serif;}

a{text-decoration: none;color: inherit;display: inline-block}

ul,li,ol{list-style: none;}

body{background-color: #202020;color: #fff;}

.wrap{width: 100%;height: 100%;position: relative;}

/* header Start*/
header{ width: 1200px; height: 130px;box-sizing: border-box;margin: 0 auto;position: relative;display: flex;}

.logo{    width: 230px;
    height : 95px;   
    margin-top: 30px;}

.logo > a > img{margin-top: 2.5px;width: 200px;}

.gnb > ul{display: flex;}

.gnb > ul > li{
    width: 70px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-top: 30px;
    margin-right:5px;
}


.gnb a{
    font-size: 22px;
    font-weight: 600;
}

.gnb > ul > li:hover{
    color: #33ff33;
}

.h-icon{
    width: 120px;
    height: 58px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.h-icon > ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
}

.h-icon > ul > li:first-child > a{
    background:url("../../images/icon/search02.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 32px;
    height: 32px;
}


/* .h-icon  
{
    width: 50px;
} */


/* .h-icon > ul > li:last-child > a:hover{
    background: url("../images/user-h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 32px;
    height: 32px;
} */

/* header End */

/* meun bar Start */
#line-1 {
    width: 1200px;
    background-color: transparent;
    border: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-top-color:#33ff33;
    border-top-width:3pxw ;
    border-bottom-width: 3px;
    border-bottom-color: #33FF33; 
    margin: 0 auto;
    position: relative;
    display: flex;
    margin-bottom: 40px;
    
}

.nav-link1{
    color: #ffffff; 
    font-size: 25px; 
    padding:2px;
    text-decoration-line: none;
    margin-left: 140px;
}
.nav-link1:hover{color: #33FF33;}

.nav a:nth-child(1){margin-left: 3.5vw;}

/* meun bar ENd */


/* content Start */
/*  left start */
#line-2 {
    width:1200px;
    display: flex;
    position:relative;
    margin: 0 auto;
    
}

.search{
        border: solid 1px black;
        width: 168px;
        height: 40px;
        border: 0;
        border-radius: 15px;
         padding-left: 10px;
    }

.searchicon{
    width: 35px;
    position: relative;
    left: 170px;
    bottom: 37px;
}

.movepage{
    margin: 0;
    margin-left: 5px;
    padding: 0;
}


.list-group-item{
    width: 200px;
    background-color: #0B0C0B;
    border: none;
    color: #ffffff;
    
}

.side_img{
    width: 25px;
    margin-right: 7px;
}

/*  left end */

/* right start*/
.Rcontent{
    margin-left: 40px;
    width: 1000px;
    height: auto;
}

.maintext{
    padding: 20px 20px 20px 20px;
    background : #0B0C0B;
    border-radius: 10px;
    max-height: max-content;
    border-bottom: solid #33FF33;

}

.post_info >ul{
    padding: 0;
}

.profile{
    width: 50px;
    border-radius: 5px
}

.nickname_main{
    padding-left: 20px;
    font-weight: bolder;
    width: min-content;
}


.post_info button {
    background-color: #0B0C0B;
    border: none;
    color: #fff;
    margin-left: 20px;    
}

.wirted{
    margin:35px 90px 0px 70px; 
    position: relative;
    bottom: 35px;
    font-size: large;
}

.container{
	width: 300px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.container > img {
	position: absolute;
    width: 100%;
 	 top: 50%;
 	 left: 50%;
  	transform: translate(-50%, -50%);
    border-radius: 10px;
    
}

#current_date{
    margin-top: 15px;
}
.heart{
    width: 25px;
    height: 25px;
   
}

.re_comment_img{
    width:25px;
    height: 25px;
    margin-left: 10px;
}


/* 모달 */

.modal-content{
    background-color: #202020;
}

.modal-body{
    font-size: 26px;
    text-align: center;
    border: 1px solid #fff;
}

.modal-header{
    border: 1px solid #fff;
}

.modal-footer{
    border: 1px solid #fff;
}
 
.modi-del{
    text-align: right;
}

.pro-total{
    width: 820px;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
}


.pro-info{
    display: flex;
    bottom: 10px;
    margin-top: 10px;
}

.btn.btn-secondary{
    background-color: #0B0C0B;
}



/*comment start*/
.Comment{
    padding: 20px 25px 0px 25px;
    color: white;
    max-height: max-content;
    width: 945px;
}

.nickname{
    display: inline-block;
    position: relative;
    left: 14px;
    bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    
    
}
.writeHere{
    color: #fff;
    border: none;
    background-color: transparent;
    margin-top: 10px;
    width: 760px;
    max-height: max-content;
    overflow-y: hidden;
    resize: none;
    left: 58px;
    bottom: 30px;
}
.writeHere:focus{
    outline: none;

}
.btn_commit{
    width: 70px;
    position: relative;
    bottom: 8px;
}  

/*comment start*/
.comment_show{
    border-top: solid #33FF33;
    padding-top: 20px;
    height: max-content;
}

.btn_warning2{
    background-color: #0B0C0B;
    color: #fff;
    border: none;
}

.comment_write_box{
    margin-top: 10px;
    margin-left: 10px;
    width: 760px;
    max-height: max-content;
    position: relative;
    left: 58px;
    bottom: 25px;
}

.pro_info{
	display: flex;
    justify-content: space-between;
}

.pro-dan{
    display: flex;
    justify-content: space-between;
}

/*로딩바*/
.loading {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
  background: rgba(0, 0, 0, 0.75) url('${path}/resources/images/loading2.gif') no-repeat center center;
}


#userfile{
	background-color: #0B0C0B;
    border: none;
    color: #fff;
}


.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0B0C0B;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #33ff33;
    --bs-btn-hover-border-color: #33ff33;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #33ff33;
    --bs-btn-active-border-color: #33ff33;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #33ff33;
    --bs-btn-disabled-border-color: #33ff33;
}
