@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
}

ul,li,ol{
    list-style: none;
}

body{
    background-color: #202020;
    color: #fff;   
}

.wrap{
    width: 100%;
    height: 100%;
    position: relative;
}

/* header */

header{
    width: 1200px;
    height: 130px;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.logo{
    width: 230px;
    height : 95px;   
    margin-top: 30px;
}

.logo > a > img{
    margin-top: 2.5px;
    width: 200px;
}

.gnb > ul{
    display: flex;
}

.gnb > ul > li{
    width: 70px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-top: 30px;
    margin-right:5px;
}

.gnb a{
    font-size: 22px;
    font-weight: 600;
}

.gnb > ul > li:hover{
    color: #33ff33;
}

.h-icon{
    width: 120px;
    height: 58px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.h-icon > ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
}

/* .h-icon  img{
    width: 50px;
} */



.h-icon > ul > li:first-child > a{
    background:url("../../images/icon/search02.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 32px;
    height: 32px;
}

.h-icon > ul > li:last-child > a{
    background:url("../../images/img/profile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 32px;
    height: 32px;
}

.h-icon > ul > li:first-child > a:hover{
    background: url("../../images/icon/search-h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 32px;
    height: 32px;
}

/* .h-icon > ul > li:last-child > a:hover{
    background: url("../images/icon/user-h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 32px;
    height: 32px;
} */


/* 헤더 */

.sec01{
    width: 1200px;
    margin: 20px auto;
    display: flex;

}

.mypage-info {
    display: flex;
    width: 1200px;
    height: 130px;
    margin: 0 auto;
    position: relative;
       
}

.user{
    margin-left: 5px;
}

.user > ul {
    padding-left: 1rem !important;
}

.user-name {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
}

.user-follow {
    margin-top: 35px;
    margin-left: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.user-follow > .user-follow-l {
    cursor: pointer;
}

.porfile > img {
    width: 125px;
    height: 125px;

}

.set {
    display: flex;

}

.set-img {
    margin-top: 5px;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 10px;
}

.logout {
    margin-top: 10px;
    width: 80px;
    height: 30px;
    background-color: #0B0C0B;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 60%;
    right: 0;
}


.mnb {
    width: 1200px;
    margin: 20px auto;
    border-top: 3px solid #33ff33;
    border-bottom: 3px solid #33ff33;
}

.mnb > ul{
    display: flex;
    margin-bottom: 0 !important;
}

.mnb > ul > li{
    width: 200px;
    height: 20px;
    text-align: center;
    line-height: 0px;
    margin-top: 20px;
    margin-right: 40px;
}

.mnb a{
    font-size: 25px;
}

.mnb > ul > li:hover{
    color: #33ff33;
}

.sec02{
    width: 1000px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    background-color: #0B0C0B;
}

.mymenu  {
    font-size: 30px;
    display: flex;
    flex-direction: column;
 
}

.mycontent {
    margin: 0px;
    width: 1000px;
    height: 300px;
    border-bottom: 1px solid #33ff33;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.mycontent > ul {
    margin-left: 10px;
    
}

.mycontent > ul > li {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mypost {
    margin: 0px;
    width: 1000px;
    height: 300px; 
    position: relative;
    display: flex;
    flex-direction: column;
}

.mypost > ul {
    margin-left: 10px;

}

.mypost > ul > li {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mimg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}