@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
}

ul,li,ol{
    list-style: none;
}

body{
    background-color: #202020;
    color: #fff;   
}

.wrap{
    width: 100%;
    height: 100%;
    position: relative;
}

/* header */

header{
    width: 1200px;
    height: 130px;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.logo{
    width: 230px;
    height : 95px;   
    margin-top: 30px;
    margin-right: 32px;
}

.logo > a > img{
    margin-top: 2.5px;
    width: 200px;
}

.gnb > ul{
    display: flex;
}

.gnb > ul > li{
    width: 70px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-top: 30px;
    margin-right:5px;
}

.gnb a{
    font-size: 22px;
    font-weight: 600;
}

.gnb > ul > li:hover{
    color: #33ff33;
}

.h-icon{
    width: 120px;
    height: 58px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.h-icon > ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
    padding-left: 2rem;
}

/* .h-icon  img{
    width: 50px;
} */



.h-icon > ul > li:first-child > a{
    background:url("../../images/icon/search02.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 32px;
    height: 32px;
}

.h-icon > ul > li:last-child > a{
    background:url("../../images/img/profile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 32px;
    height: 32px;
}

.h-icon > ul > li:first-child > a:hover{
    background: url("../../images/icon/search-h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 32px;
    height: 32px;
}

/* .h-icon > ul > li:last-child > a:hover{
    background: url("../images/icon/user-h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 32px;
    height: 32px;
} */

/* 헤더 */


.sec01 {
    width: 1200px;
    height: 600px;
    margin: 40px auto 0 auto;
}

form{
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
}

form > div {
    width: 400px;
    height: 100%;
    position: relative;
}

.profile-a {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.cancle {
	width: 360px;
    height: 60px;
    background-color: #3F3B3B;
    position: absolute;
    bottom: 10%;
    text-align: center;
    line-height: 60px;
}

.profile-b {
    margin-right: auto;
    position: relative;
}

.profile-b > div {
    width: auto;
    height: 60px;
    background-color: #3F3B3B;
    text-align: center;
    line-height: 50px;
    margin: 30px;

}

.input-field {
    width: 100%;
    height: 60px;
    background-color: #3F3B3B;
    border: 0;
    margin: 0;
    padding: 0;
    text-align:center;
    color: #fff;
    font-size: 30px;
}

.done {
    width: 360px;
    height: 60px;
    margin: 0 auto;
    background-color: #33ff33;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);

}

.profile-img {
    width: 250px;
    height: 250px;
    margin-top: 20px;
}

.input-file-button {
    width: 100%;
    height: 60px;
    background-color: #3F3B3B;
    text-align: center;
    line-height: 50px;
}

.cancleBtn {
	width: 100%;
	border: 0;
	background-color: transparent;
	color: #fff;
}