@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
}

ul,li,ol{
    list-style: none;
}

body{
    background-color: #202020;
    color: #fff;   
}

.wrap{
    width: 100%;
    height: 100%;
    position: relative;
}

/* header */

header{
    width: 1200px;
    height: 130px;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.logo{
    width: 230px;
    height : 95px;   
    margin-top: 30px;
}

.logo > a > img{
    margin-top: 2.5px;
    width: 200px;
}

.gnb > ul{
    display: flex;
}

.gnb > ul > li{
    width: 70px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-top: 30px;
    margin-right:5px;
}

.gnb a{
    font-size: 22px;
    font-weight: 600;
}

.gnb > ul > li:hover{
    color: #33ff33;
}

.h-icon{
    width: 120px;
    height: 58px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.h-icon > ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
}

/* .h-icon  img{
    width: 50px;
} */



.h-icon > ul > li:first-child > a{
    background:url("../../images/icon/search02.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 32px;
    height: 32px;
}

.h-icon > ul > li:last-child > a{
    background:url("../../images/img/profile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 32px;
    height: 32px;
}

.h-icon > ul > li:first-child > a:hover{
    background: url("../../images/icon/search-h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 32px;
    height: 32px;
}

/* .h-icon > ul > li:last-child > a:hover{
    background: url("../images/icon/user-h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 32px;
    height: 32px;
} */

/* 헤더 */


.sec01 {
    width: 1200px;
    height: auto;
    margin: 0 auto 0 auto;
}

.mnb {
    width: 1200px;
    border-top: 3px solid #33ff33;
    border-bottom: 3px solid #33ff33;
}

.mnb > ul{
    display: flex;
    margin-bottom: 0 !important;
}

.mnb > ul > li{
    width: 200px;
    height: 20px;
    text-align: center;
    line-height: 0px;
    margin-top: 20px;
    margin-right: 40px;
}

.mnb a{
    font-size: 25px;
}

.mnb > ul > li:hover{
    color: #33ff33;
}

.info-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
   
}

.info-main > div {
    width: 500px;
    height: 60px;
    background-color: #3F3B3B;
    text-align: center;
    line-height: 50px;
    margin: 20px;
}

.ct-review {
    color: #33ff33;
}

.sec02 {
    width: 1200px;
    height: 800px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;    
}

.Lcontent {
    width: 250px;
    height: 100%;
    position: relative;
}

.main {
    width: 950px;
    height: 100%;
}

.Lmenu {
    width: 230px;
    height: 400px;
    margin-top: 47px;
    background-color: #0B0C0B;
    position: absolute ;
    border-radius: 10px;
}
.Lmenu > ul {
    margin-top: 60px;
    padding-left: 0!important;
}

.Lmenu > ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 0px 10px;
    font-size: 20px;
}

.mimg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.main {
    display: flex;
    flex-direction: column;
}

.blank {
    height: 34px;
    margin-bottom: 1px;
}

.post {
    width: auto;
    height: 230px;
    margin: 12px 0;
    background-color: #3F3B3B;
}

.review {
    display: flex;
    flex-direction: row;
}

.Lside {
    width: 160px;
    height: auto;
    margin: 0 5px;
    position: relative;
}

.poster {
    width: 160px;
    height: 220px;
    position: relative;
    top: 2%;
    

}

.Rside {
    width: 100%;
    height: auto;

    position: relative;
}

.rv-head {
    height: 50px;
    width: 100%;

}

.rv-main {
    height: 100%px;
    width: 100%;
    position: relative;
    margin-left: 5px;
    font-size: 20px;
}

.star {
    width: 100px;
    height: 30px;
    right: 10px;
    top: 5%;
    position: absolute;
}

.title {
    margin-left: 5px;
    font-size: 25px;
}

#Lreview {
    color: #33ff33;
}

.mreview {
    color: #33ff33;
}